.formTable {
    border: 1px;
}
.formHeader {
    background-color: dimgray;
    color: white;
}

.tableCell {
    width: 200px;
}

.formRow {
    background-color: white;
}

.formRowGray {
    background-color: lightgrey;
}
