.formTable {
    border: 1px;
    margin-left: 30px;
}
.formHeader {
    background-color: dimgray;
    color: white;
}

.tableCell {
    width: 30em;
    padding-left: 0.2em;
}

.formRow {
    background-color: white;
}

.formRowGray {
    background-color: lightgrey;
}
