.mainSection {
    margin-left: 200px;
    margin-right: 200px;
}

.searchColumn {
    margin-right: 30px;
}

.searchButton {
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: gray;
    border-radius: 0.5em;
    margin-left: 60px;
    margin-top: 30px;
}
